---
layout: default
title: ✍️ Blog
description: Life is a continuous journey of feeling, learning, and growing through every moment rather than a puzzle to be solved or a checklist to complete.
page_cover: '/images/site/blog-cover.jpg'
---

<!-- begin page -->
<div class="page container">

  <div class="page-head">
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.description %}
    <p class="page-section-description">{{ page.description }}</p>
    {% endif %}
  </div>

  <div class="page__blog">
    <div class="row grid">
    {% if site.posts.size > 0 %}
    {% for post in paginator.posts offset:0 %}
      {% include article.html %}
    {% endfor %}
    {% endif %}
    </div>

    {% include pagination.html %}
  </div>

</div>
<!-- end page -->