/* Header */
.header {
  padding-top: 32px;
}

/* Nav */
.main-nav {
  position: relative;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);

  .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &:active {
      cursor: -webkit-grabbing;
      cursor: grabbing
    }

    .nav__item {
      margin: 0;
      font-size: 19px;
      line-height: 1;
      font-weight: 500;
      white-space: nowrap;
    }

    .nav__link {
      display: block;
      padding: 16px 32px;
      border-radius: 14px;
      transition: color .2s ease, background-color .2s ease;

      &:hover {
        background-color: var(--background-alt-color);
      }

      &.active-link {
        font-weight: 600;
        color: var(--primary-color);
        background-color: var(--background-alt-color);
      }
    }
  }
}
